{% extends 'base.html' %}

{% block content %}

<Form action="/add" method="post">
    <div class="mb-3">
        <label for="freq" class="form-label">Frequency</label>
        <input type="text" class="form-control" id="freq" name="freq" placeholder="Enter frequency">
    </div>
    <div class="mb-3">
        <label for="institution" class="form-label">Institution</label>
        <input type="text" class="form-control" id="institution" name="institution" placeholder="Enter institution">
    </div>
    <div class="mb-3">
        <label for="usage" class="form-label">Usage</label>
        <input type="text" class="form-control" id="usage" name="usage" placeholder="Enter usage">
    </div>
    <input type = "submit" value = "Submit" class="btn btn-primary mb-3"/> 
</Form>

{% endblock content %}
